.post-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }


@media only screen and (orientation: landscape) {
    .post-link {
      display: block;
      font-size: 24px; }

    .post-meta {
      font-size: 14px;
      color: #828282; }

    .toc-category {
      display: inline-block;
      width: 100px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 4px;
      padding-left: 4px; }
}

@media only screen and (orientation: portrait) {
    .post-link {
      display: block; }
    .post-meta {
      font-size: 24px;
      color: #828282; }

    .toc-category {
      display: inline-block;
      width: 200px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 12px;
      padding-left: 12px; }
}


.python .dv {
  color: #0086b3 }

.python .kw {
  color: #a71d5d }

.python .cf {
  color: #a71d5d }

@font-face {
    font-family: MJXc-TeX-math-Iw;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXZERO;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}
@font-face {
    font-family: MJXTEX;
    src: url("https://assets.hackmd.io/build/MathJax/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff")
}

.math { font-family: MJXc-TeX-math-Iw }
